{{define "header"}}
<header>
  <div></div>
  <a href="/">
    <img class="logo" src="resources/logo.svg"/>
  </a>
  <form action="/logout" method="post">
    <input type="submit" value="Logout">
  </form>
</header>
{{end}}
