{{define "content"}}
{{range .}}
<h4>{{.Date}}</h4>
<div class="image-grid">
{{range .Images}}
  <div class="image-container">
    <a href="library/{{.ImagePath}}">
      <img src="thumbnails/{{.ThumbnailPath}}" loading="lazy"/>
    </a>
  </div>
{{end}}
</div>
{{end}}
<div class="float">
  <a href="#top">
    <input type="button" value="&#8679; Scroll to the top &#8679;"/>
  </a>
</div>
{{end}}
